.home {


    background-color: #0f172a;
    width: 100%;
    height: 100vh;
    display: flex;
    // justify-content: center;
    // align-items: center;

    // background:
    //     radial-gradient(circle at top, rgba(59, 130, 246, 0.18), transparent 35%),
    //     #0f172a;

    .sidebar {
        width: 20%;
        background-color: #111827;
        border-right: 2px solid rgba(249, 249, 249, 0.08);
    }


    .game{
      width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}